[
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "APP_USER",
        "Value": "<APP_USER>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "APP_NAME",
        "Value": "<APP_NAME>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "CIRCLECI",
        "Value": "false"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "CIRCLE_BRANCH",
        "Value": "<CIRCLE_BRANCH>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "SHA1",
        "Value": "<SHA1>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "AWS_ACCESS_KEY",
        "Value": "<AWS_ACCESS_KEY>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "AWS_SECRET_ACCESS_KEY",
        "Value": "<AWS_SECRET_ACCESS_KEY>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "BUCKET",
        "Value": "<BUCKET>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "REDIS_HOST",
        "Value": "<REDIS_HOST>"
    },
    {
        "Namespace": "aws:elasticbeanstalk:application:environment",
        "OptionName": "REDIS_PORT",
        "Value": "<REDIS_PORT>"
    }
]