footer {
  margin-top:40px;
  .footer-grid-wrapper {
    background:#efefef;
    padding:30px 0;

  }
  .footer-bar-wrapper {
    background:#DCDCDC;
    color:#585858;
    padding:4px;
  }
}


.hiddendiv {
  display:none;
}
