
#user-page {
  height:100%;
  width:100%;
  background:url("user-bg.jpeg") bottom right;
  background-size:cover;
}

#user-top-bar {
  height:10px;
  width:100%;
  background:#222;
  margin-bottom:200px;
}
.user-content h2 {
  color:#fff;
  font-weight:300;

}
.login-form {
  background: #fff;
  padding:20px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}


#user-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#222;
  padding:10px;
  font-size:85%;
  a {
    color:#585858;
  }
}
