<!-- TODO MOVE THIS SHIT!  -->
<style>
html,
body,
body > div {
  height:100%;
  width:100%;
}
#modal-overlays {
  height:0;
}

</style>
<div id="user-page">
  <div id="user-top-bar">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-4">
        <div class="user-content">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>


<div id="user-footer">
  {{#link-to 'index'}}Home{{/link-to}}
</div>
