<div class="thread-wrapper">
  <div class="post-profile-wrapper" >

    {{voting/vote-on model=post type="post"}}

    <div class="voatable-content post-content">
      <p>{{post.content}}</p>
    </div>
  </div>
  <div class="comments-wrapper">
    {{#each post.comments as |comment|}}
      {{comments/comment-summary comment=comment}}
    {{/each}}
  </div>
</div>
