body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



//
// Voting
.vote-wrapper {
  display:inline-block;
  width:40px;
  text-align: center;
  font-size:120%;
  .vote-up {
    display:block;
    color:#ccc;
    cursor: pointer;
    &.active {
      color:#222;
    }
  }
  .vote-down {
    display:block;
    color:#ccc;
    cursor: pointer;
    &.active {
      color:#222;
    }
  }

  .vote-count {
    display:block;
  }
}
.voatable-content {
  display:inline-block;
  vertical-align: top;
  padding:10px;
}

//
// comments
.comments-wrapper {

}
.comment-wrapper {
  padding:8px;
  margin-bottom:8px;
  border-left:10px solid #ccc;
  > .ember-view {
    display:inline-block;
  }
}

//
// Actions
.actions-dropdown {
  position: absolute;
  top: -9px;
  right: 0;
  button {
    border:none;
    background: none;
  }
  .dropdown-menu {
    left:auto;
    right:0;
    min-width:100px;
    font-size:90%;
  }
}

//
// error page
.error-page {
  text-align: center;
  margin:100px 0;
}
