body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-form {
  .form-group {
    position: relative;
  }
  .form-group input {
    width:100%;
    padding-right: 30px;
  }
  .form-group button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: 0;
    padding: 7px 10px 7px 5px;
  }
}

//
// Voting
.vote-wrapper {
  display:inline-block;
  width:40px;
  text-align: center;
  font-size:120%;
  .vote-up {
    display:block;
    color:#ccc;
    cursor: pointer;
    &.active {
      color:#222;
    }
  }
  .vote-down {
    display:block;
    color:#ccc;
    cursor: pointer;
    &.active {
      color:#222;
    }
  }

  .vote-count {
    display:block;
  }
}
.voatable-content {
  display:inline-block;
  vertical-align: top;
  padding:10px;
}
