<h1>Settings</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li>{{#link-to 'profiles.edit.general'}}General{{/link-to}}</li>
      <li>{{#link-to 'profiles.edit.interests'}}Interests{{/link-to}}</li>
      <li>{{#link-to 'profiles.edit.donate'}}Donate{{/link-to}}</li>
    </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
