{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "sagebrew",
    "Key": "docker_config/dockercfg"
  },
  "Image": {
    "Name": "sagebrew/sb_app:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    },
    {
     "ContainerPort": "443"
    }
  ]
}