{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "sagebrew",
    "Key": "docker_config/dockercfg"
  },
  "Image": {
    "Name": "sagebrew/mass_sys:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
     "ContainerPort": "3000"
    }
  ],
  "Logging": "/home/apps/logs/"
}