<!-- Profile Highlight -->
<div class="row">
  <div class="col-md-12 profile-highlight" style="background-image:url('{{model.wallpaper_pic}}');">
    <div class="profile-pic-wrapper">
    </div>
    <h5 class="profile-full-name">{{model.first_name}} {{model.last_name}}</h5>
  </div>
</div>

<!-- Profile Nav -->
<div class="row">
  <div class="col-md-12 profile-nav">
    <ul class="nav nav-pills pull-right">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </div>
</div>

<!-- Profile Content -->
<div class="row">
  <div class="col-md-3">
    <h4>Mah People</h4>
  </div>
  <div class="col-md-9">
    <h4>Sparks!</h4>
  </div>
</div>
{{outlet}}
