<form {{action 'createSolution' on='submit'}}>

  <div class="form-group">
    <label for="content">Content</label>
    {{textarea value=content class="form-control" rows="6"}}
  </div>

  <button type="submit" class="btn btn-primary">Add Solution</button>
</form>
