<div class="post-create-wrapper">
  <h6>Create a Spark</h6>
  <form {{action 'createPost' on='submit'}}>
    <div class="form-group">
      {{textarea value=content id="content" type="text" class="form-control validate" }}
    </div>
    <div class="clearfix">
      <button type="submit" class="btn btn-primary pull-right">Create Spark</button>
    </div>
  </form>
</div>
