<div class="container error-page">
  <div class="row">
    <div class="col-md-12">
       <h2>Application Error =(</h2>
       <p> {{#link-to 'index'}}Go Home{{/link-to}} </p>
       <p> {{output}} </p>
    </div>
  </div>
</div>
